<footer>
    <a class="footer__enlace" href="#logo">
        <div class="footer__container">
            <img class="footer__arrow" src="../img/flechaArriba.svg" alt="flecha para arriba">
            <p class="footer__text">Volver al inicio</p>
        </div>
    </a>

    <div class="footer__imgContainer">
        <a href="https://www.instagram.com/francobalich/" target="black"><img class="footer_imgSocialNetwork"
                src="../img/instagram.png" alt="logo instagram"></a>
        <a href="https://www.linkedin.com/in/franco-balich/" target="black"><img class="footer_imgSocialNetwork"
                src="../img/linkedin.svg" alt="logo linkedin"></a>
        <a href="https://www.twitch.tv/francolabs" target="black"><img class="footer_imgSocialNetwork"
                src="../img/logoTwitch.png" alt="logo twitch"></a>
        <a href="mailto:franco.balich@gmail.com" target="black"><img class="footer_imgSocialNetwork"
                src="../img/mailLogo.png" alt="logo mail"></a>
    </div>
</footer>
<script src="../js/index.js"></script>