<header id="menu">
    <nav class="menu">
        <ul class="menu__container">
            <li class="menu__item"><a href="./#sobreMi">Sobre mi</a></li>
            <li class="menu__item"><a href="./#separadorHabilidades">Habilidades</a></li>
            <li class="menu__item"><a href="./#portafolio">Portafolio</a></li>
            <li class="menu__item itemButton"><a href="./contacto">Contacto</a></li>
            <li class="btnCerrarMenu menu__item "><a id="btnMenuCerrar" href="#">Cerrar</a></li>
        </ul>
    </nav>
</header>
<ul>
    <li class="botonMenu" id="btnMenu"><img class="iconoMenu" src="../img/menu_list.png" alt="Icono menu"></li>
</ul>