:root{
    --azul-marino:#0f1624;
    --blanco:#f3f3f3;
    --azul-opaco:#40798C;
    --azul:#1982c4;
    --fuentes-titulo:'Merriweather',Arial, Helvetica, sans-serif;
    --fuentes-cuerpo:'Open Sans',Arial, Helvetica, sans-serif;
}

.menu{
    font-size: 1.2rem;
}
.menu__titulo{
    font-weight: bold;
}

.menu__contenedor{
    display: inline-block;
    text-decoration: none;
}
.menu__titulo, .menu__item{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
.menu__titulo a, .menu__item a{
    text-decoration: none;
    color: var(--blanco);
    transition: text-decoration 1s ease;
    font-family: var(--fuentes-titulo);
}
.menu__titulo a:hover, .menu__item a:hover{
    text-decoration: underline;
}