:root{
    --azul-marino:#0f1624;
    --blanco:#f3f3f3;
    --azul-opaco:#40798C;
    --azul:#1982c4;
    --fuentes-titulo:'Merriweather',Arial, Helvetica, sans-serif;
    --fuentes-cuerpo:'Open Sans',Arial, Helvetica, sans-serif;
    --negro:black;
}
header{
    width: 100%;
    background-color: #0f1624;
    margin: 0 auto;
    border-bottom: 1px solid var(--azul);
}
.menu{
    font-size: 1.2rem;
    margin:auto;
    display: flex;
    padding: 3vh 0;
    width: 85%;
    align-items: center;
}
.menu__titulo{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}
.menu__contenedor{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.menu__titulo, .menu__item{
    list-style: none;
    display: inline-block;
    padding-left: 4vw;
}
.menu__titulo a, .menu__item a{
    text-decoration: none;
    text-align: center;
    color: var(--blanco);
    transition: text-decoration 1s ease;
    font-family: var(--fuentes-titulo);
}
.menu__titulo a:hover, .menu__item a:hover{
    text-decoration: underline;
}
.menu__iconContainer{
    margin-left: auto;
}
.menu__icon{
    width: 30px;
    list-style: none;
    display: inline-block;
    margin-left: 1vw;
}
@media screen and (max-width:1080px) {
    .menu{
        width: 95%;
        font-size: 1.1rem;
    }
    .menu__titulo, .menu__item{
        padding-left: 2vh;
    }
}
@media screen and (max-width:800px) {
    header{
        background-color: black;
        height: 100vh;
    }
    .menu{
        width: 77%;
        font-size: 2.5rem;
        flex-direction: column;
        align-items: normal;
    }
    .menu__titulo{
        text-align: start;
        padding: 7vh 0vh 10vh 2vh;
    }
    .menu__contenedor{
        flex-direction: column;
    }
    .menu__titulo, .menu__item{
        width: 100%;
        margin: 8px 0px;
    } 
    .menu__titulo a:hover, .menu__item a:hover{
        text-decoration: none;
    }
    .menu__iconContainer{
        margin-left: auto;
    }
}