:root{
    --azul-marino:#0f1624;
    --blanco:#f3f3f3;
    --azul-opaco:#40798C;
    --azul:#1982c4;
    --fuentes-titulo:'Merriweather',Arial, Helvetica, sans-serif;
    --fuentes-cuerpo:'Open Sans',Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--fuentes-cuerpo);
}
body{
    color: var(--azul-opaco);
    display: flex;
    flex-direction: column;
}
main,footer{
    background-color: #0f1624;
    margin: 0 auto;
}
main{
    height: 90vh;
    width: 100%;
    flex-grow: initial;
}
footer{
    width: 100%;
    padding: 50px;
}
/*Cuando se borre el cuerpo actual, hay que borrarlo*/
.page__container{
    margin:auto;
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    font-size: 3.5rem;
    color: var(--blanco);
    font-family: var(--fuentes-titulo);
    
}
.description{
    font-size: 1.5rem;
    display: inline-block;
}
.intro{
    font-size: 1.7rem;
    font-weight: bold;
}
.gif{
    width: 400px;
}

/*---------*/
.donutSpinner {
    display: inline-block;
    border: 6px solid var(--blanco);
    border-left-color: var(--azul);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: donut-spin 1.2s linear infinite;
    margin: 30px;
}

@keyframes donut-spin {
    to {
        transform: rotate(1turn);
    }
}
