
body{
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height :100vh;
}
.mailContainer{
    padding-top: 80px;
    flex: 1;
    display: flex;
}

.mailCard{
    margin: auto;
    width: 35%;
    background-color: #000;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px 65px;
}
h3{
    font-size: 2.5rem;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}
.mailForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 20px;
}
.formElement{
    background-color: transparent;
    color: #fff;
    border: none;
    width: 100%;
    border-bottom: 1px solid #777;
}
.formElement:hover{
    outline: none;
}
.formElement:active{
    outline: none;
}
.formTextarea{
    resize: none;
    overflow-y: scroll;
    min-height: 170px;
}
.formSend{
    padding: 25px 35px;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    border: none;
    width: 75%;
    transition: background-color ease .3s;
}
.formSend:hover{
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.4) inset;
-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.4) inset;
-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.4) inset;
background-color: #ddd;
}
@media screen and (max-width:1100px) {
    .mailCard{
        width: 60%;
    }
}
@media screen and (max-width:650px) {
    .mailCard{
        width: 80%;
    }
}
@media screen and (max-width:400px) {
    .mailCard{
        width: 90%;
    }
    .mailCard{
        padding:20px 35px;
    }
}