*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --rojo:#C20114;
    --negro:#0C120C;
    --gris-oscuro:#6D7275;
    --gris-claro:#C7D6D5;
    --blanco:#ECEBF3;
    --azul-oscuro:#04001E;
}
html{
    background-color: var(--azul-oscuro);
}
body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
main{
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*#region botones*/
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 70px;
}
.btn{
    background-color: var(--negro);
    width: 40vw;
    margin-bottom: 25px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -6px 8px 26px 2px rgba(0,0,0,0.43);
    -webkit-box-shadow: -6px 8px 26px 2px rgba(0,0,0,0.43);
    -moz-box-shadow: -6px 8px 26px 2px rgba(0,0,0,0.43);
    transition: transform ease .3s;
}
.btn:hover{
    transform: scale(1.05);
}
.btn >a{
    display: flex;
    text-decoration: none;
}
.btn__imgContainer{
    display: flex;
    justify-content: center;
    padding: 18px;
}
.btn__imgContainer img{
    width: 50px;
}
.btn__containerText{
    color: var(--blanco);
    font-size: 1rem;
    padding: 5px 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn__title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2px;
}
/*#endregion*/

/*#region info*/
.info{
    margin-top: 70px;
    margin-bottom: 25px;
    width: 40%;
    background-color: var(--negro);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    min-height: 100px;
}

.info__imgContainer img{
    height: 100%;
    width: 150px;
    object-fit: cover;
}
.info__title{
    font-size: 1.6rem;
    font-weight: bold;
} 
.info__subtitle{
    font-size: .9rem;
    font-style: italic;
    margin-bottom: 8px;
}
.info__text{
    font-size: 1.15rem;
}          
/*#endregion*/

/*#region Colores*/
.twitter{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.twitch{
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.youtube{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.tiktok{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.instagram{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.github{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.discord{
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*#endregion*/

/*#region Media*/
@media screen and (max-width:1300px) {
    .info,.btn{
        width: 70%;
    }
}
@media screen and (max-width:800px) {
    .btn:hover{
        outline:none;
    }
}
@media screen and (max-width:700px) {
    .info,.btn{
        width: 80%;
    }
    .info__text{
        font-size: .9rem;
    }
}


@media screen and (max-width:500px) {
    .info,.btn{
        width: 90%;
    }
    .info__imgContainer img{
        width: 100px;
    }
    .info__subtitle,.btn__text{
        display: none;
    }
}
/*#endregion*/