<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Franco Balich | Emprendedor Digital y Desarrollador Web</title>
    <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <%- include('../partials/menu.ejs'); %>
    
    <main>
        <div class="main__containerPage">
            <div class="main__containerLogoFranco">
                <img class="main__logoFranco" id="logo" src="../img/logoNegro.png" alt="Logo Franco Balich en color negro">
            </div>
            <div class="main__textos">

                <h2 class="main__textosSaludo">Hola, soy</h2>
                <h1 class="main__textosNombre">Franco Balich</h1>

                <div class="main__textosTrabajo">
                    <input type="button" value="Desarrollador Frontend">
                    <p>/</p>
                    <input type="button" value="Emprendedor">
                    <p>/</p>
                    <input type="button" value="Creador de contenido en redes">
                </div>

                <div class="main__textosButtons">
                    <div class="main__containerButtons">
                        <a href="mailto:franco.balich@gmail.com" target="black"><img class="main__containerButtonsImg"
                                src="../img/mailLogo.png" alt="Logo email"></a>
                        <a href="https://github.com/francobalich" target="black"><img class="main__containerButtonsImg"
                                src="../img/githubLogo.png" alt="Logo github"></a>
                        <a href="https://www.linkedin.com/in/franco-balich/" target="black"><img
                                class="main__containerButtonsImg" src="../img/linkedinLogo.png" alt="Logo linkedin"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="triangulo"></div>
        <div class="main__fondo">
            <img class="img_francoBalich" src="../img/imgFrancoBalich.png" alt="Foto Franco Balich">
        </div>

    </main>

    <section class="descripcion__container">
        <div class="descripcion__containerText">
            <h3 class="descripcion__title">¿Quién soy?</h3>
            <p class="descripcion__text">Soy Franco Balich, un desarrollador Frontend, Emprendedor y creador de contenido en redes sociales de programación y robótica. Participe en una variedad de proyectos, desde la creación de páginas web, la creación de un simulador de robótica, armado de diferentes robots y la creación de un asistente virtual con tecnologías web.</p>
            <!-- <input class="descripcion__btn" type="button" value="Leer más">-->
        </div>
    </section>
    <section class="data">
        <div class="about" id="sobreMi">
            <h4 class="mainTitle">Sobre mi</h4>
            <p class="about__text">Actualmente soy un técnico Mecatrónico, analista en sistemas, estudiante del último año de la carrera de ingeniería en sistemas y entusiasta del aprendizaje autodidacta.</p>
            <!--<input class="about_btn" type="button" value="Ver más">-->
            <img class="separador" src="../img/separator.png" alt="separador">
        </div>
    </section>

    <div class="titulos">
        <div class="titulos__container">
            <div class="titulos__card">
                <span>Desarrollo web</span>
                <p>Cree una variedad de paginas web desde single page a otras con una variedad de páginas web.</p>
            </div>
            <div class="titulos__card">
                <span>Emprendedor</span>
                <p>Actualmente estoy creando una escuela online sobre tecnología.</p>
            </div>
        </div>

        <div class="titulos__container">
            <div class="titulos__card">
                <span>Creador de contenido</span>
                <p>Comparto contenido sobre programación, robótica y tecnología en redes sociales.</p>
            </div>
        </div>

        <img class="separador" src="../img/separator.png" id="separadorHabilidades" alt="separador">
    </div>

    <div class="habilidades" >
        <h5 class="mainTitle spaceBottom">Habilidades</h5>
        <div class="habilidades__section">
            <p>Hoy se usar:</p>
            <div class="habilidades__container">
                <div class="habilidades__item">
                    <img src="../img/logo-html.svg" alt="logo html">
                    <p>HTML5</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-css.svg" alt="logo css">
                    <p>CSS3</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-python.png" alt="logo python">
                    <p>PYTHON</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo.js.svg" alt="logo javascript">
                    <p>JAVASCRIPT</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-csharp.png" alt="logo c sharp">
                    <p>C#</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-bootstrap.svg" alt="logo bootstrap">
                    <p>BOOTSTRAP</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-git.png" alt="logo git">
                    <p>GIT</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-figma.svg" alt="logo figma">
                    <p>FIGMA</p>
                </div>
            </div>
        </div>

        <div class="habilidades__section">
            <p>Interesado en aprender:</p>
            <div class="habilidades__container">
                <div class="habilidades__item">
                    <img src="../img/logo-nodejs.png" alt="logo node js">
                    <p>NODE.JS</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-mysql.svg" alt="logo mysql">
                    <p>MySQL</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/log-mongodb.png" alt="logo mongodb">
                    <p>MONGODB</p>
                </div>

                <div class="habilidades__item">
                    <img src="../img/logo-react.svg" alt="logo react">
                    <p>REACT</p>
                </div>
            </div>
            <div class="habilidades__section">
                <p>Otras habilidades:</p>
                <div class="habilidades__container">
                    <div class="habilidades__item">
                        <img src="../img/logo-ingles.svg" alt="icono ingles">
                        <p>Ingles</p>
                    </div>

                    <div class="habilidades__item">
                        <img src="../img/logo-arduino.png" alt="logo Arduino">
                        <p>Arduino</p>
                    </div>

                    <div class="habilidades__item">
                        <img src="../img/logo-cplusplus.png" alt="logo c++">
                        <p>C++</p>
                    </div>

                    <div class="habilidades__item">
                        <img src="../img/logo-c.svg" alt="logo c">
                        <p>C</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="proyectos" id="portafolio">
        <div class="banner">
            <img src="../img/banner.png" alt="fondo del banner">
            <h6 class="mainTitleWhite textOnImg">PORTAFOLIO</h6>
        </div>
        <div class="proyectos__container">
            <div class="proyectos_header">
                <input class="proyectos_btn activeBtnProject" type="button" value="Páginas web">
                <input class="proyectos_btn" type="button" value="Robots">
                <input class="proyectos_btn" type="button" value="Proyectos">
            </div>
            <div class="proyectos__main">
                <a href="https://innovativalab.com/" target="black"><img src="../img/proyectos/Innovativalab.png" alt="página de innovativalab"></a>
                <a href="http://robot.discendum.ar/" target="blanck"><img src="../img/proyectos/Control_robots.png" alt="página de control robots"></a>
                <a href="https://www.discendum.ar/" target="blanck"><img src="../img/proyectos/Disendum.png" alt="página de disendum"></a>
                <a href=""><img src="../img/proyectos/Bs_Dinner.png" alt="página de bs dinner"></a>
                <a href=""><img src="../img/proyectos/Alice.png" alt="página de alice"></a>
                <a href="https://labfabid.ar/" target="blanck"><img src="../img/proyectos/LabFabId.png" alt="página de LabFabId"></a>
            </div>
            <div class="proyectos__footer">
                <p>¡Y más proximamente!</p>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs'); %>
    
</body>
</html>