<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes</title>
    
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <%- include('../partials/menu.ejs'); %>
    <div class="container" style="height: 75vh;">

    </div>
    <%- include('../partials/footer.ejs'); %>
</body>
</html>