<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes</title>
    <link rel="stylesheet" href="../css/stylesLink.css">
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <main>
        <section class="info">
            <div class="info__imgContainer">
                <img src="../img/foto-de-perfil.png" alt="foto francolabs">
            </div>
            <div class="btn__containerText">
                <p class="info__title">Franco Balich</p>
                <p class="info__subtitle">Director del Laboratorio Creativo 3D, Doctorando en Informática, Full Stack Developer, Data Engineer y creador de contenido sobre tecnología.</p>
                <p class="info__text">📌 Comparto conocimiento sobre desarrollo, IoT, Python y análisis de datos para crear soluciones con impacto real. ¡Seguime en mis redes para aprender más sobre tecnología!</p>
            </div>
        </section>
        
        <section class="container">
            <div class="btn">
                <a href="https://www.twitch.tv/francolabs" target="_blank">
                    <div class="btn__imgContainer twitch">
                        <img src="../img/twitch.png" alt="Logo de Twitch">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">Twitch</p>
                        <p class="btn__text">Canal de Twitch de FrancoLabs</p>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="https://www.tiktok.com/@francobalich?" target="_blank">
                    <div class="btn__imgContainer tiktok">
                        <img src="../img/tiktok.png" alt="Logo de TikTok">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">TikTok</p>
                        <p class="btn__text">Perfil de TikTok de Franco Balich</p>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="https://www.instagram.com/francobalich/" target="_blank">
                    <div class="btn__imgContainer instagram">
                        <img src="../img/logotipo-de-instagram.png" alt="Logo de Instagram">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">Instagram</p>
                        <p class="btn__text">Perfil de Instagram de Franco Balich</p>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="https://discord.com/invite/Pvj6ZH2FPf" target="_blank">
                    <div class="btn__imgContainer discord">
                        <img src="../img/discord.png" alt="Logo de Discord">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">Discord</p>
                        <p class="btn__text">Comunidad de Discord de InnovativaLab</p>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="https://www.youtube.com/c/FrancoBalich" target="_blank">
                    <div class="btn__imgContainer youtube">
                        <img src="../img/youtube.png" alt="Logo de Youtube">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">YouTube</p>
                        <p class="btn__text">Canal de YouTube de Franco Balich</p>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="https://github.com/francobalich" target="_blank">
                    <div class="btn__imgContainer github">
                        <img src="../img/github.png" alt="Logo de Github">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">GitHub</p>
                        <p class="btn__text">Perfil de GitHub de Franco Balich</p>
                    </div>
                </a>
            </div>
            <div class="btn">
                <a href="https://twitter.com/francobalich" target="_blank">
                    <div class="btn__imgContainer twitter">
                        <img src="../img/twitter.png" alt="Logo de Twitter">
                    </div>
                    <div class="btn__containerText">
                        <p class="btn__title">Twitter</p>
                        <p class="btn__text">Perfil de Twitter de Franco Balich</p>
                    </div>
                </a>
            </div>
            
        </section>
    </main>
</body>
</html>